
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

#mobile-menu a {
  transition: color 0.2s ease;
}

#mobile-menu a:hover {
  color: #2563eb;
}
